.container {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 20px;
}

.card {
    width: 50%;
    height: 96px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.chartContainer {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.chartCard {
    width: 25%;
    height: 24rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
  }
  
  .chartCard {
    height: 24rem;
    width: 100%; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 1rem; 
    margin-bottom: 2.5rem;
  }