.img {
    position: relative !important;
    left: 0 !important;
    object-fit: cover;
    background-position: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.swiper {
    height: 288px;
}

.notSwiper {
    width: 230px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;
    flex-basis: 100%;
    transition: all 0.25s ease;

    flex-basis: calc((100% - 2 * 16px) / 3);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 10px;
}

.item.swiper {
    flex-basis: auto;
    height: 450px;
    margin-bottom: 16px;
}

.item:hover {
    transform: scale(1.025);
}

.item a {
    display: flex;
    flex-direction: row;
    /* height: 100%; */
    gap: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    padding: 0 12px 12px;
}

.wrapper.swiper {
    padding: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    max-width: 207px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: #6e646d;
    max-width: 207px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.functionality {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.functionality span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}

.button {
    display: flex;
    align-items: center;
    gap: 24px;
    transition: all 0.25s ease;
}

.button svg:hover {
    fill: #ff3333;
}

.basket {
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff3333;
    transition: all 0.25s ease;
}

.basket:hover {
    background-color: #e21c1c;
}

@media (min-width: 748px) {
    .item a {
        flex-direction: column;
        gap: 8px;
    }

    .img {
        /* height: 215px; */
        width: 230px;
        border-radius: 10px 10px 0 0;
    }

    .wrapper {
        padding: 0 12px 12px;
    }

    .item.swiper {
        height: 520px;
    }

    .item {
        width: 230px;
    }

    .swiper {
        height: auto;
    }

    .notSwiper {
        width: 230px;
    }
}

@media (min-width: 1200px) {
    .item {
        width: 100%;
    }

    .notSwiper {
        /* max-height: 450px; */
        width: 100%;
        max-width: 215px;
    }
}

.addBooksetBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    padding: 15px;
    border: 1px solid;
    color: #fff;
    background-color: #ff3333;
    border-radius: 10px;
}
