@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: #FF3F56;
    --text_secondary: #757887;
    --bg_primary: #3B37CC;
    --text_main: #313233;
    --bg_grey: #F7F8FA;
}