.catalogBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: var(--red);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    cursor: pointer;

    @media (min-width: 768px) {
        width: 163px;
        height: 46px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

.catalogBtn:hover {
    background-color: #e62e2e;
}

.catalogBtn:active {
    background-color: #cc2929;
}

.headerContainer {
    padding-top: 32px;
    margin-bottom: 16px;
}

.headerWrapper {
    @media (min-width: 768px) {
        display: flex;
        /* gap: 28px; */
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    @media (min-width: 1280px) {
        /* gap: 53px; */
    }
}

.logoContainer {
    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}

.fromDesctop {
    display: flex;
    gap: 40px;
    align-items: center;

    @media (max-width: 1234px) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}

.flexRow {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (min-width: 768px) {
        width: calc(100% - 345px);
    }

    @media (min-width: 1280px) {
        width: auto;
    }
}

.searchForm {
    position: relative;
    width: 100%;
    @media (min-width: 768px) {
        min-width: 400px;
    }
    @media (min-width: 1280px) {
        width: 411px;
    }
}

.searchInput {
  
    border: 1px solid var(--gray_border);
    font-size: 18px;
    font-weight: 600;
    width: 282px;
    height: 40px;
    padding-left: 50px;
    border-radius: 8px;

    @media (min-width: 768px) {
        height: 50px;
        width: 400px;
    }

    @media (min-width: 1234px) {
        border: 1px solid var(--gray_border);

        width: 411px;
        padding: 12px 0 12px 36px;
        border-radius: 8px;
    }
}

.searchInput::placeholder {
    color: var(--gray_dark);
    font-size: 18px;
    font-weight: 400;
}

.searchButton {
    height: 40px;
    width: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--gray_search);
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    /* padding: 12px 28px; */
    border-top: 1px solid var(--gray_border);
    border-right: 1px solid var(--gray_border);
    border-bottom: 1px solid var(--gray_border);
    transition:
        background-color 0.15s ease-in-out,
        color 0.15s ease-in-out;

    @media (min-width: 768px) {
        height: 50px;
        width: 50px;
        padding: 7px 14px;

        background-color: var(--red);
        border-color: red;
    }

    @media (min-width: 1234px) {
        height: 50px;
        width: 80px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: var(--gray_search);
        color: black;
        position: absolute;
        top: 0;
        right: 0;
        /* padding: 12px 28px; */
        border-top: 1px solid var(--gray_border);
        border-right: 1px solid var(--gray_border);
        border-bottom: 1px solid var(--gray_border);
        transition:
            background-color 0.15s ease-in-out,
            color 0.15s ease-in-out;
    }
}

.searchButton .icon {
    transition: color 0.15s ease-in-out;

    @media (max-width: 768px) {
        color: white;
    }
}

.searchButton:active {
    background-color: var(--red);
    border-color: red;
}

.searchButton:active.icon {
    color: white;
}

.toTablet {
    width: 100%;
    @media (min-width: 1280px) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}

.burgerBtn {
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    border: 1px solid var(--red);

    @media (min-width: 767.5px) {
        height: 50px;
        width: 50px;
    }
}

.controlsContainer {
    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-items: center;
    }
}

.heartBtn {
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--gray_dark);
    cursor: pointer;
}

.heartBtn:active {
    color: var(--red);
    fill: var(--red);
}

.accountLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    width: 100%;
    height: 100%;
}

.heartIcon {
    height: 28px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.favorited {
    color: red;
}

.notFavorited {
    color: #505050;
}

.favoriteCount {
    position: absolute;
    top: -10px;
    right: -22px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.6em;
    font-size: 14px;
}

.headerBtn {
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--gray_dark);
    cursor: pointer;

    font-size: 16px;
    font-family: 'RaleWay', serif;
}

.headerBtn:active {
    color: var(--red);
    fill: var(--red);
}

.avatar {
    width: 54px;
    height: 54px;

    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid var(--red);
}

.logo {
    width: 217px !important;
    height: 40px !important;
}

.text {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.subContainer {
    width: 240px;
}

.subBox {
    display: flex;
    justify-content: space-between;
    width: 481px;

    @media (min-width: 1280px) {
        width: 944px;
    }
}
