.range__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.range__wrapper form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.range__wrapper form label {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 16px;
}

.range__wrapper form label input {
    padding: 10px !important;
    text-align: center;
    font-weight: 600 !important;
}

.range__wrapper form button {
    border-radius: 8px;
    padding: 10px;
    background: #f33;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
