.section {
    padding: 32px 0 132px;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    display: flex;
    gap: 16px;
    width: 100%;
}

.computer__filter {
    display: none;
    max-width: 230px;
}

.products__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information__buttons {
    display: flex; 
    gap: 16px;
}

.information__buttons div {
    position: relative;
}

.information__buttons div button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.information__buttons div .button__sort {
    background: #a7a7a7;
}

.information__buttons div .button__sort.open {
    border-radius: 8px 8px 0 0;
    background-color: #FF3333;
} 

.information__buttons div button:hover {
    background: #FF3333;
}

.information__buttons div ul {
    position: absolute;
    background-color: #FF3333;
    z-index: 2;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.button__filter {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FF3333;
}

.information__quantity {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.information__list {
    gap: 16px;
    display: none;
}

.information button {
    border-radius: 8px;
    padding: 10px 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: background-color 0.25s ease;
}

.information__list button {
    background: #a7a7a7;
}

.information__list button.open {
    background: #FF3333;
}

.information button:hover {
    background-color: #E21C1C;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
}

.products__item {
    flex-basis: calc((100% - 3 * 16px) / 4);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 10px;
    transition: all 0.25s ease;
}

.products__item:hover {
    transform: scale(1.025);
}

.products__item a {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.products__img {
    height: 288px;
    object-fit: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.products__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 12px 12px;
    flex-grow: 1
}

.products__wrapper_information {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.products__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
}

.products__author {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: #6e646d;
}

.products__wrapper_functionality {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__wrapper_functionality span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}

.products__wrapper_button {
    display: flex;
    align-items: center;
    gap: 24px;
    transition: all 0.25s ease;
}

.products__wrapper_button svg:hover {
    fill: #FF3333;
}

.button__basket {
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #FF3333;
    transition: all 0.25s ease;
}

.button__basket:hover {
    background-color: #E21C1C;
}

.pagination {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.pagination button {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 100%;
}

.pagination__button_row {
    padding: 10px;
    transition: all 0.25s ease;
}

.pagination__button_row:hover {
    fill: #FF3333;
}

.pagination__button_page {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #a7a7a7;
    transition: all 0.25s ease;
}

.pagination__button_page:hover {
    color: #FF3333;
}

@media (min-width: 363px) {
    .container {
        width: 363px;
    }
}

@media (min-width: 748px) {
    .container {
        width: 748px;
    }
    .section {
        padding: 50px 0 40px;
    }
    .products__section {
        gap: 40px;
    }
    .information button {
        font-size: 20px;
    }
}

@media (min-width: 1234px) {
    .container {
        width: 1234px;
    }
    .section {
        padding: 32px 0 132px;
    }
    .computer__filter {
        display: block;
    }
    .products__section {
        gap: 32px;
    }
    .information {
        flex-direction: row-reverse;
    }
    .information__buttons {
        display: none;
    }
    .information__list {
        display: flex;
    }
}

