.popup {
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    z-index: 999;
    text-align: center;
    opacity: 1;
    animation: fadeOut forwards;

    margin-top: 10px;
    margin-bottom: 10px;
}

.error {
    background-color: #ffcccc;
    color: #ff0000;
}

.information {
    background-color: #fff7cc;
    color: #ffcc00;
}

.success {
    background-color: #ccffcc;
    color: #00cc00;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
