.products__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 32px;
}

@media (min-width: 748px) {
    .products__list {
        gap: 16px;
    }
}
