@keyframes fillHeart {
    0% {
        fill: none;
        stroke: var(--red);
    }

    100% {
        fill: var(--red);
        stroke: var(--red);
    }
}

.heartFillAnimation {
    animation: fillHeart 0.4s ease forwards;
}