.catalogBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: var(--red);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    cursor: pointer;

    @media (min-width: 768px) {
        width: 163px;
        height: 46px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

.catalogBtn:hover {
    background-color: #e62e2e;
}

.catalogBtn:active {
    background-color: #cc2929;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
    width: 375px;
    padding-top: 16px;
    background-color: white;
    position: relative;
    border-radius: 20px;

    @media (min-width: 768px) {
        padding-top: 24px;
        width: 494px;
        /* height: 959px; */
    }

    @media (min-width: 1280px) {
        width: 494px;
        /* height: 695px; */
    }
}

.text {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-variant-numeric: lining-nums;

    @media (min-width: 768px) {
        font-size: 24px;
    }
}

.text.title {
    @media (min-width: 1280px) {
        margin-bottom: 32px;
    }
}

.list {
    max-height: 631px;
    padding: 0 24px;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: gray;
    }

    @media (min-width: 768px) {
        max-height: 805px;
    }

    @media (min-width: 1280px) {
        max-height: 541px;
    }
}

.item {
    border-top: 1px solid #f4f4f4;
    position: relative;
    list-style: none;
    max-height: 631px;
    overflow-y: auto;
    display: flex;
    gap: 20px;
    padding: 20px 0;
    @media (min-width: 768px) {
        max-height: 805px;
    }

    @media (min-width: 1280px) {
        max-height: 541px;
    }
}

.img {
    width: 120px;
    height: 160px;
    border-radius: 10px;

    object-fit: contain;
}

.title {
    font-size: 16px;
    font-weight: 700;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.author {
    font-size: 16px;
    font-weight: 500;
    color: #6e646d;
}

.price {
    font-variant-numeric: lining-nums;
    font-size: 24px;
    font-weight: 700;
}

.goTrash {
    width: 24px;
    height: 24px;
    fill: #6e646d;

    position: absolute;
    top: 24px;
    right: 0;

    cursor: pointer;
}

.footerbox {
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-height: 117px;
    padding: 16px;

    @media (min-width: 768px) {
        max-height: 154px;
        padding: 24px;
    }

    @media (min-width: 1280px) {
    }
}

.textBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
    }

    @media (min-width: 1280px) {
    }
}

.cartBtn {
    margin-top: 16px;

    /* width: 343px; */
    height: 46px;
    background-color: var(--red);
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    transition: background-color 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67);

    @media (min-width: 768px) {
        width: 446px;
        border-radius: 8px;

        margin-top: 24px;
    }
    @media (min-width: 1280px) {
        font-size: 16px;
    }
}

.cartBtn:hover {
    background-color: #e62e2e;
}
.cartBtn:active {
    background-color: #cc2929;
}
