.container {
    display: flex;
    margin-top: 2.5rem; /* mt-10 */
    gap: 4rem; /* gap-16 */
  }
  
  /* Стиль для основного контейнера карточки */
  .card {
    width: 75%; /* w-3/4 */
    height: 50%; /* h-3/6 */
    border-radius: 1rem; /* rounded-2xl */
    border: 1px solid #d1d5db; /* border-slate-900 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-2xl */
    padding-top: 0.75rem; /* py-3 */
    color: #1e3a8a; /* text-blue-900 */
  }
  
  /* Стиль для заголовка и информации */
  .header {
    display: flex;
    padding-left: 2.5rem; /* px-10 */
    padding-right: 2.5rem; /* px-10 */
    justify-content: space-between;
    align-items: center;
  }
  
  /* Стиль для блока информации */
  .infoBlock {
    display: flex;
    gap: 2.5rem; /* gap-[40px] */
    align-items: center;
  }
  
  /* Стиль для текста в блоке информации */
  .infoText {
    font-size: 1.25rem; /* text-xl */
  }
  
  /* Стиль для текста с размером lg */
  .infoTextSmall {
    font-size: 1.125rem; /* text-lg */
  }
  
  /* Стиль для кнопки */
  .button {
    border: 1px solid #ddd; /* border */
    padding: 0.5rem 1rem; /* px-3 py-2 */
    border-radius: 0.5rem; /* rounded-lg */
    background-color: #1e3a8a; /* bg-blue-900 */
    color: white; /* text-white */
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2563eb; /* hover color */
  }
  
  /* Стиль для списка книг */
  .bookList {
    list-style-type: none;
    padding-left: 2.5rem; /* px-10 */
  }
  
  /* Стиль для каждого элемента списка книги */
  .bookListItem {
    margin-bottom: 1rem;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    gap: 2.5rem; /* gap-10 */
  }
  
  /* Стиль для кнопки */
  .button {
    border: 1px solid #ddd; /* border */
    padding: 0.5rem 1rem; /* px-3 py-2 */
    border-radius: 0.5rem; /* rounded-lg */
    background-color: #1e3a8a; /* bg-blue-900 */
    color: white; /* text-white */
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2563eb; /* hover color */
  }
  
  /* Стиль для текста внутри кнопки */
  .buttonText {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }