.container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.subcontainer{
    display: flex;
    flex-direction: row;
}

.loggerContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 24px;
}

.pingList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    border: 1px solid gray;
    padding: 4px;
    border-radius: 5px;
}

.itemTitle {
    color: green;
}

.itemTitle.error {
    color: red;
}
