.accountLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 5px;

    width: 100%;
    height: 100%;

    font-family: 'Raleway';
    font-size: 20px;
}

.burgerList {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.burgerItem {
    display: flex;
    gap: 10px;
    align-items: center;

    font-size: 18px;
}

.avatar {
    width: 54px;
    height: 54px;

    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid var(--red);
}

.headerBtn {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--gray_dark);
    cursor: pointer;
}

.headerBtn:active {
    color: var(--red);
    fill: var(--red);
}

.text{
    font-family: 'Raleway';
    font-size: 20px;
}