.cardItem {
    margin: 2px 0;
    width: 230px;
    height: 440px;
    border-radius: 10px;
    list-style: none;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: height 0.3s ease;

    &:hover .bookformat {
        opacity: 1;
    }
}

.cardItem.formats-hover {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    /* Начальная позиция скрытого блока */
    left: 0;
    transform: translateY(105%);
    /* Скрываем блок за пределами контейнера */
    transition: transform 0.3s ease;
    /* Плавный переход трансформации */
}

.formats-hover:hover {
    transform: translateY(0);
}

.cardItem.hidden-buttons {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.hidden-buttons:hover {
    opacity: 1;
}

.imageContainer {
    background-image: var(--background-image);
    width: 100%;
    height: 288px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 8px;
}

.imageContainer.lazyload {
    background-color: #ccc;
    /* Цвет фона, который будет виден, пока изображение не загружено */
    background-size: cover;
    background-position: center;
}

.descriptionCotainer {
    padding: 0px 12px 12px;
}

.title {
    font-size: 18px;
    line-height: 140%;
    font-weight: 700;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    /* Ограничивает количество строк до 1 */
}

.authors {
    color: var(--gray);
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 8px;
    height: 21px;
    display: block;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 20px;
    font-weight: 700;
    font-variant-numeric: lining-nums proportional-nums;
}

.bottomContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardLink {
    display: block;
    width: 100%;
    height: 100%;
}

.boxStyles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.bookLink {
    padding: 3px 6px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid var(--red);
    transition:
        background-color 0.25s ease-in-out,
        color 0.25s ease-in-out;
}

.bookLink:hover {
    color: white;
    background-color: var(--red);
}

.cardDisabled {
    background-color: rgba(0, 0, 0, 0.3);
}