.styledWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.imageContainer {
    width: 120px;
    height: 150px;

    background-image: var(--background-image);
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 1280px) {
        width: 230px;
        height: 288px;
    }
}

.contentContainer {
    width: 207px;
}

.title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 3;
    -webkit-line-clamp: 3; /* Ограничивает количество строк до 3 */
    height: 75.6px;
}

.authorsList{
    color: var(--gray);
    font-size: 15px;
    margin-bottom: 35px;
}

.bottomContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    font-weight: 700;
}

.controls{
    display: flex;
    align-items: center;
    gap: 24px;
}

.cartButton{
    border-radius: 4px;
    background-color: var(--red);
    padding: 10px;
}