.modalContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agreement {
    text-align: center;
    color: var(--gray_border);
    margin-bottom: 40px;
}

.agrementLink {
    text-decoration: underline;
    margin: 0 5px 0;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.roleCheckbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;

    border: 2px solid #d1d1d1;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.roleCheckbox:checked {
    border: 2px solid var(--red);
}

.roleCheckbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: var(--red);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.roleCheckboxLabel {
    color: var(--gray_border);
    cursor: pointer;
}

.modalInput {
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 24px;

    background-color: #ccd8f7;
    border: none;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 31px;
}

.description {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    width: 100%;
    max-width: 400px;
}

.description.google {
    margin-bottom: 20px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
    .form {
        width: 470px;
    }
    .agreement {
        width: 470px;
    }
}

.changeModalButton {
    padding-left: 16px;
    font-size: 18px;
    font-weight: 700;
    color: var(--blue);
}

.submitButton {
    width: 215px;
    padding: 12px 32px;
    background-color: var(--red);
    border-radius: 8px;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.submitBtnDisabled {
    background-color: gray;
    cursor: not-allowed;
}

.googleBtn {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 6px 0px #00000026;
    border: 1px solid #00000026;
    border-radius: 50%;
    margin: 0 auto 24px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.googleBtn:active {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.15);
}

.googleBtn:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.1);
}
